# Example configuration only.
# DO NOT put real credentials in this file.

NODE_ENV=development

MONGO_HOST=mongodb
MONGO_PORT=27017

# Example placeholders
MONGO_USERNAME=example_username
MONGO_PASSWORD=example_password

APP_SECRET=example_secret
